@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

.conteiner {
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: black;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
}