@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
}

.conteiner {
    background-color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: black;
    width: 600px;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.title {
    color: white;
    padding: 10px;
    margin-top: 30px;
}

.calculo {
    width: 100%;
}

.calc input{
    width: 95%;
    height: 70px;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: right;
}


.btns {
    width: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

button {
    width: 90px;
    height: 90px;
    font-size: 30px;
    background-color: black;
    color: white;
    margin: 5px;
    border: 1px solid white;
}

.btns input {
    width: 90px;
    height: 90px;
    margin: 5px;
    font-size: 30px;
}

.op {
    background-color: rgb(187, 121, 0);
}

.op:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease;
    background-color: orange;
}

button:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease;
    background-color: white;
    color: black;
}