@charset "UTF-8";

@keyframes animacao {
    from {background-color: white; }
    to {background-color: yellow; border-radius: 20px; width: 50vw; height: 50vh;}
}



* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(130, 130, 243);
}

header {
    padding: 30px;
    font-size: 50px;
    text-align: center;
}

main {
    background-color: white;
    width: 30vw;
    height: 50vh;
    padding: 30px;
    text-indent: 1.2em;
    text-align: justify;
    font-weight: bold;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0.3s;
}

main:hover {
    /* animation-name: animacao;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-iteration-count: infinite; */

    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    
}